<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar novo Funcionário</title>
</head>
<body>
<h2>Novo Funcionário</h2>
<form action="#" th:action="@{/addAttendant}" th:object="${attendant}" method="post">
    <input type="text" th:field="*{name}" id="name" placeholder="Inserir nome aqui">
    <input type="email" th:field="*{email}" id="email" placeholder="Inserir e-mail aqui">
    <input type="submit" value="Adicionar novo Funcionário!">
</form>
</body>
</html>