<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8" />
    <title>Zoo - Home</title>
    <style>

        input{
            background-color: #f4511e;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            margin: 1% 3%;
        }
        input:hover {
            opacity: 1
        }
    </style>
</head>
<body>

<form action="#" th:action="@{/animais}" th:object="${index}" method="post">

    <input type="submit" th:src="@{static/images/animal.png}" value="Animais">
</form>

<form action="#" th:action="@{/habitats}" th:object="${habitats}" method="post">

    <input type="submit" value="Habitats">
</form>

<form action="#" th:action="@{/funcionarios}" th:object="${funcionarios}" method="post">

    <input type="submit" value="Funcionarios">
</form>

</body>
</html>